recursive-include flamethrower *.json
recursive-include flamethrower *.js
recursive-include flamethrower *.css
recursive-include flamethrower *.py
recursive-include flamethrower *.txt
recursive-include flamethrower *.svg
